.error p{
	color: red;
}
.calendar{
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
}
.table.table-bordered.table-striped.datatable button{
	height: 100%;
	width: 100px;
}
.dataTables_paginate ul{
	float: right;
	padding-right: 80px;
}